{% extends 'base.html.twig' %}

{% block content %}
    <section class="slider" autoplay="auto" duration="5">
        <div class="slider__slides">
            <div class="slider__slides-item">
                <img src="/images/shop-hero-1-product-slide-1.png" alt="shop-hero-1-product-slide-1.png">
                <div class="slider__slides-item-infos">
                    <h3 class="slider__slides-item-infos-category">T-shirt / Tops</h3>
                    <h2 class="slider__slides-item-infos-title">Summer Value Pack</h2>
                    <h4 class="slider__slides-item-infos-tags">cool / colorful, comfy</h4>
                    <a href="#" class="btn">Shop Now</a>
                </div>
            </div>
            <div class="slider__slides-item">
                <img src="/images/shop-hero-1-product-slide-2.png" alt="shop-hero-1-product-slide-1.png">
            </div>
            <div class="slider__slides-item">
                <img src="/images/shop-hero-1-product-slide-3.png" alt="shop-hero-1-product-slide-1.png">
            </div>
            <div class="slider__slides-item">
                <img src="/images/shop-hero-1-product-slide-4.png" alt="shop-hero-1-product-slide-1.png">
            </div>
        </div>
    </section>
    <section class="deals">
        <div class="container animations__fade_in">
            <div class="deals__items">
                <div class="card__item shadow text-white">
                    <img height="355" src="/images/unsplash_Qyc13QBGaM4.png" alt="Unsplash High Coziness">
                    <div class="card__item-info">
                        <h6 class="card__item-info-intro">Low Price</h6>
                        <h2 class="card__item-info-title">High Coziness</h2>
                        <h3 class="card__item-info-sub-title">UPTO 50% OFF</h3>
                        <a class="card__item-info-link" href="#">Explore items</a>
                    </div>
                </div>
                <div class="card__item shadow text-white">
                    <img height="355" src="/images/unsplash_Qyc13QBGaM7.png" alt="Unsplash Breezy Summer Style">
                    <div class="card__item-info">
                        <h6 class="card__item-info-intro">Beygoung Presents</h6>
                        <h2 class="card__item-info-title">Breezy Summer Style</h2>
                        <h3 class="card__item-info-sub-title">UPTO 50% OFF</h3>
                        <a class="card__item-info-link" href="#">Explore items</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container animations__fade_in">
            <h2 class="title">New Arrival</h2>
            <div class="carousel" slideToScroll="4" slidesVisible="4" loop="true">
                <div class="carousel__container-item">
                    <img src="/images/Rectangle-27.png" alt="">
                    <h2 class="carousel__container-item-title">Knitted Joggers</h2>
                </div>
                <div class="carousel__container-item">
                    <img src="/images/Rectangle-28.png" alt="">
                    <h2 class="carousel__container-item-title">Full Sleeve</h2>
                </div>
                <div class="carousel__container-item">
                    <img src="/images/Rectangle-29.png" alt="">
                    <h2 class="carousel__container-item-title">Active T-Shirts</h2>
                </div>
                <div class="carousel__container-item">
                    <img src="/images/Rectangle-30.png" alt="">
                    <h2 class="carousel__container-item-title">Urban Shirts</h2>
                </div>
            </div>
        </div>
    </section>
    <section class="deals">
        <div class="container animations__fade_in">
            <h2 class="title">Big Saving Zone</h2>
            <div class="deals__items gap-20">
                <div class="card__item small-font text-white">
                    <img height="393" src="/images/Rectangle-74.png" alt="Hawaiian Shirtss">
                    <div class="card__item-info left">
                        <h2 class="card__item-info-title">Hawaiian Shirts</h2>
                        <h6 class="card__item-info-intro">Dress up in summer vibe</h6>
                        <h3 class="card__item-info-sub-title">UPTO 50% OFF</h3>
                        {{ icon("arrow", "icons") }}
                        <a class="card__item-info-link" href="#">Shop Now</a>
                    </div>
                </div>
                <div class="card__item small-font text-white">
                    <img height="393" src="/images/Rectangle-75.png" alt="Printed T-Shirt">
                    <div class="card__item-info right">
                        <span class="card_item-info-span">Limited Stock</span>
                        <h2 class="card__item-info-title">Printed T-Shirt</h2>
                        <h6 class="card__item-info-intro">New Designs Every Week</h6>
                        <h3 class="card__item-info-sub-title">UPTO 40% OFF</h3>
                        {{ icon("arrow", "icons") }}
                        <a class="card__item-info-link" href="#">Shop Now</a>
                    </div>
                </div>
                <div class="card__item small-font text-dark">
                    <img height="393" src="/images/Rectangle-76.png" alt="Cargo Joggers">
                    <div class="card__item-info right">
                        <h2 class="card__item-info-title">Cargo Joggers</h2>
                        <h6 class="card__item-info-intro">Move with style & comfort</h6>
                        <h3 class="card__item-info-sub-title">UPTO 50% OFF</h3>
                        {{ icon("arrow", "icons") }}
                        <a class="card__item-info-link" href="#">Shop Now</a>
                    </div>
                </div>
                <div class="card__item small-font text-dark">
                    <img height="393" src="/images/Rectangle-77.png" alt="Urban Shirts">
                    <div class="card__item-info center-right">
                        <h2 class="card__item-info-title">Urban Shirts</h2>
                        <h6 class="card__item-info-intro">Live In Confort</h6>
                        <h3 class="card__item-info-sub-title">FLAT 60% OFF</h3>
                        {{ icon("arrow", "icons") }}
                        <a class="card__item-info-link" href="#">Shop Now</a>
                    </div>
                </div>
                <div class="card__item small-font text-dark">
                    <img height="393" src="/images/Rectangle-78.png" alt="Oversized T-Shirts">
                    <div class="card__item-info center-right">
                        <h2 class="card__item-info-title">Oversized T-Shirts</h2>
                        <h6 class="card__item-info-intro">Street Style Icon</h6>
                        <h3 class="card__item-info-sub-title">FLAT 60% OFF</h3>
                        {{ icon("arrow", "icons") }}
                        <a class="card__item-info-link" href="#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="categories">
        <div class="container animations__fade_in">
            <h2 class="title">Categories For Men</h2>
            <div class="categories__items">
                <div class="categories__items-card" data-id="1" data-label="Shirts" data-sub-label="Explore Now!" data-url="/shop/men/shirts" data-image="/uploads/categories/Rectangle-20.png"></div>
                <div class="categories__items-card" data-id="2" data-label="Printed T-Shirts" data-sub-label="Explore Now!" data-url="/shop/men/printed-t-shirts" data-image="/uploads/categories/Rectangle-21.png"></div>
                <div class="categories__items-card" data-id="3" data-label="Plain T-Shirt" data-sub-label="Explore Now!" data-url="/shop/men/plain-t-shirt" data-image="/uploads/categories/Rectangle-22.png"></div>
                <div class="categories__items-card" data-id="4" data-label="Polo T-Shirt" data-sub-label="Explore Now!" data-url="/shop/men/polo-t-shirt" data-image="/uploads/categories/Rectangle-23.png"></div>
                <div class="categories__items-card" data-id="5" data-label="Hoodies & Sweetshirt" data-sub-label="Explore Now!" data-url="/shop/men/hoodies-&-sweetshirt" data-image="/uploads/categories/Rectangle-24.png"></div>
                <div class="categories__items-card" data-id="6" data-label="Jeans" data-sub-label="Explore Now!" data-url="/shop/men/jeans" data-image="/uploads/categories/Rectangle-25.png"></div>
                <div class="categories__items-card" data-id="7" data-label="Activewear" data-sub-label="Explore Now!" data-url="/shop/men/activewear" data-image="/uploads/categories/Rectangle-26.png"></div>
                <div class="categories__items-card" data-id="8" data-label="Boxers" data-sub-label="Explore Now!" data-url="/shop/men/boxers" data-image="/uploads/categories/Rectangle-27.png"></div>
            </div>
        </div>
    </section>
    <section class="categories">
        <div class="container animations__fade_in">
            <h2 class="title">Categories For Women</h2>
            <div class="categories__items">
                <div class="categories__items-card" data-id="9" data-label="Hoodies & Sweetshirt" data-sub-label="Explore Now!" data-url="/shop/women/hoodies-&-sweetshirt" data-image="/uploads/categories/Rectangle-28.png"></div>
                <div class="categories__items-card" data-id="10" data-label="Coats & Parkas" data-sub-label="Explore Now!" data-url="/shop/women/coats-&-parkas" data-image="/uploads/categories/Rectangle-29.png"></div>
                <div class="categories__items-card" data-id="11" data-label="Tees & T-Shirt" data-sub-label="Explore Now!" data-url="/shop/women/tees-&t-shirt-" data-image="/uploads/categories/Rectangle-30.png"></div>
                <div class="categories__items-card" data-id="12" data-label="Boxers" data-sub-label="Explore Now!" data-url="/shop/women/boxers" data-image="/uploads/categories/Rectangle-31.png"></div>
            </div>
        </div>
    </section>
    <section class="products">
        <div class="container animations__fade_in">
            <h2 class="title">In The Limelight</h2>
            <div class="products__items">
                <div class="products__items-card" data-id="9" data-label="Black Sweatshirt with White Brand" data-sub-label="Jhanvi’s  Brand" data-url="/products/black-sweatshirt-with-white-brand" data-image="/uploads/products/Rectangle-25.png" data-price="123.00"></div>
                <div class="products__items-card" data-id="10" data-label="line Pattern Black Hat" data-sub-label="AS’s  Brand" data-url="/products/line-pattern-black-hat" data-image="/uploads/products/Rectangle-26.png"  data-price="37.00"></div>
                <div class="products__items-card" data-id="11" data-label="Black Shorts" data-sub-label="MM’s  Brand" data-url="/products/black-shorts" data-image="/uploads/products/Rectangle-27.png"  data-price="37.00"></div>
                <div class="products__items-card" data-id="12" data-label="Levender Hoodie with Cord" data-sub-label="Nike’s  Brand" data-url="/products/levender-hoodie-with-cord" data-image="/uploads/products/Rectangle-28.png"  data-price="119.00"></div>
            </div>
        </div>
    </section>
{% endblock %}
