<a class="no-underline clr-neutral-1000 clr-hover-primary-400" href="{{ url }}">
    <img class="border-radius-2 margin-block-end-7" src="{{ image }}" width="282" alt="">
    <div class="grid" style="--grid-template: 164px 85px;">
        <div>
            <h2 class="fw-bold text-overflow-ellipsis text-overflow-hidden text-white-space-nowrap">{{ label }}</h2>
            <h4 class="fs-200 clr-neutral-300">{{ subLabel }}</h4>
        </div>
        {{ icon('arrow', 'icons', 1.5, 'icon__category-arrow') }}
    </div>
</a>
